table{
    border: 5px solid black;

}
li{
    border:3px solid red;
    margin-right: 20px;
    font-size: x-large;
    font-weight: bold;
    background-color:orange;
    color:black;
}
ul a{
        
        list-style: none;
        display:inline-block;
        text-decoration: none;
    }